.Navbar {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}

.Main {
  margin-top: 50px;
}

.cardDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  border: black solid 1px;
  border-radius: 5px;
  margin: 5px;
  padding-left: 15px;
  flex-basis: calc(25% - 10px); /* Adjust the percentage as needed */
}

.Navbar  {
  background-color: black;
  color: white;
  height: 35px;
  font-size: 20px;
}

form {
  margin: 5px;
  padding: 5px;
}

body {
  font-family: 'Open Sans', sans-serif;
  
}

/* .Main .main-image img { */
.Main .main-image img {
  width: 40%;
  margin-left: 450px;
}

body span h1 {
  text-align: center;
  font-style: italic;
  margin: 25px;
  padding: 25px;
  font-size: 40px;
  font-weight: 800;
}

h1 {
  
  font-size: 30px;
  font-weight: 800;
  padding: 10px;
}

 h2 {
  margin-left: 30px;
  letter-spacing: 3px;
}

h3 {
  font-size: 15px;
  margin-left: 15px;
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: black;
  margin-top: 10px;
}

.slick-slider {
  width: 100%;
  background-color: black;
  color: white;
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
}

.carousel {
  width: 90%;
  font-family: 'Open Sans', sans-serif;

}

.carousel-container {
  background-color: aqua;
}

.slick-prev:before,
.slick-next:before {
    color: white;
}

.cardInCarousel {
  color: white;
  display: grid;
  margin-bottom: 35px;
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
  margin-top: 100px;
  background-color: aquamarine;
}


.Favorites {
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
  margin: 100px;
  background-color: rgb(108, 179, 229);
}


.Saved {
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
  margin: 100px;
  background-color: yellowgreen;
}

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
  background-color: mediumslateblue;
}

.Signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
  background-color: mediumorchid;
}

.Signup span {
  background-color: white;
  color: red;
  margin: 25px;
}

.Login span {
  background-color: white;
  color: red;
  margin: 25px;
}

a {
  color: white;
}